/* COLORS
light green: #7ed56f;
medium green: #55c57a;
dark green: #28b485; */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.line {
    background-color: #000;
    display: block;
    margin: 10px auto 25px;
    width: 79px;
    height: 3px;
}

.white {
    background-color: #fff;
}

.navigation {
    position: fixed;
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    box-shadow: 0px 1px 10px gray;

    z-index: 100;
}

.logo {
    /* font-size: 1.6rem; */
    font-family: 'Roboto', sans-serif;

    display: flex;
    align-items: center;
}

.logo img {
    width: 170px;
}

.navigation ul {
    display: flex;
    justify-content: space-around;
}

.navigation ul li {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;

    list-style-type: none;
}

.link__item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;

    margin: 0 1rem;
    padding: 2rem;
}

.link__item:hover {
    color: #333;
}

main {
    padding: 15px;
}

section {
    padding-top: 10px;
}

/* home section */
.home {
    height: 95vh;
    width: 100%;
    padding: 11rem 0;
    /* display: flex;
    flex-direction: row; */
    /* justify-content: center;
    align-items: center; */

    background-image: linear-gradient(to right bottom,
            hsla(111, 55%, 64%, 0.8),
            rgba(40, 180, 133, 0.8));
    /* url(../img/24291809_334742096993910_381874429577457003_o.jpg); */
    background-size: cover;
    background-position: top;

    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    z-index: -1;
}

.u-center-text {
    text-align: center;
}

.home__header--main {
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
}

/* .home--container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: relative;
}
*/
.home__header--paragraph {
    font-size: 2rem;
    line-height: 3rem;
    padding: 10rem 2rem;
    font-weight: 300;
    color: #fff;
    width: 60%;
    position: absolute;
    right: 0;
    top: 0;
}


.composition {
    z-index: 50;
}

.composition__photo {
    width: 35%;
    max-width: 220px;
    box-shadow: 0 1.5rem 4rem #000;
    border-radius: 2px;
    position: absolute;

    z-index: 50;
}

.composition__photo--1 {
    top: 6rem;
    left: 7rem;
}

.composition__photo--2 {
    top: 14rem;
    left: 20rem;
}

.composition__photo--3 {
    top: 22rem;
    left: 9rem;
}

/* work section */
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    list-style-type: none;
}

.work__header--main {
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
    color: #000;
}

.image-gallery--item {
    flex-basis: 350px;

    cursor: pointer;
}

.image-gallery--item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 5px;

    transition: 1s;
}

.image-gallery--item img:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
}


/* opinion section */

.opinions {
    text-align: center;
}

.opinions__header--main {
    font-size: 4rem;
    font-weight: 400;
    color: #000;
}

.opinion__box {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.review {
    color: #323031;
    font-size: 1.4rem;
    padding: 3rem;
    position: relative;
    background-color: #fff;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, .05);
    overflow: hidden;
    flex: 0 0 50%;
    flex-basis: 500px;
}

.review::before {
    content: "\201c";
    position: absolute;
    left: -.9rem;
    top: -2.5rem;
    font-size: 20rem;
    color: #D9DCD6;
}

.review__text {
    margin-bottom: 2rem;
    z-index: 2;
    position: relative;
}

.review__person {
    display: flex;
    align-items: center;
}

.review__info {
    display: flex;
    flex-flow: row wrap;
    margin-right: auto;
}

.review__info--name {
    flex: 0 0 80%;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: -.5rem;
}

.review__info--name--date {
    font-size: .9rem;
}

.review__rating {
    color: #323031;
    font-size: 2.2rem;
    font-weight: 300;
}

/* shop section */

.shop {
    background-color: #ccc;
    height: 150vh;
    margin-top: 60px;
}

.shop__header--main {
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
    color: #000;
}

.shop__desc {
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    color: #000;
}

.myTabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 50px auto;
    padding: 25px;
}

.myTabs input[type="radio"] {
    display: none;
}

.myTabs label {
    padding: 25px;
    background-color: #e2e2e2;
    font-size: 2.2rem;
}

.myTabs .tab {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    order: 1;
    display: none;
}

.myTabs .tab h3 {
    font-size: 35px;
}

.tab p {
    font-size: 1.6rem;
    line-height: 2rem;
    padding: 2rem 0;
}

.tab h5 {
    font-size: 1.8rem;
}

.myTabs input[type="radio"]:checked+label+.tab {
    display: block;
}

.myTabs input[type="radio"]:checked+label {
    background-color: #fff;
}

/* contact section */
.contact {
    height: 90vh;
    margin-top: -10vh;
    text-align: center;
    background-image: linear-gradient(to right bottom,
            hsla(111, 55%, 64%),
            rgba(40, 180, 133));
    background-size: cover;
    background-position: bottom;

    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    z-index: -1;
}

.contact__header--main {
    font-size: 4rem;
    font-weight: 400;
    color: #fff;

    padding-top: 40px;
}

.contact__desc {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    color: #fff;
}

.poland-map {
    margin-left: 200px;
    width: 400px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container iframe {
    padding-left: 50px;
}

.contact__details {
    display: flex;
    flex-direction: row;
}

.contact__details img {
    width: 30px;
    height: 30px;
}

.contact-form {
    width: 400px;
    margin: 0 auto 40px;
    padding-top: 70px;
}

form label {
    display: block;
    margin-bottom: 20px;
}

form label {
    display: block;
}

form textarea {
    height: 10em;
}

.submite-wrap {
    text-align: right;
}

.submite-wrap span {
    float: left;
    padding-top: 7px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.4rem;
}

form [type="submit"] {
    background-color: #28b485;
    color: #FFFFFF;
    text-transform: uppercase;
    width: 33%;
}

form [type="submit"]:hover {
    background-color: #28b485;
}

form input,
form textarea {
    border: 1px solid #28b485;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

form input:focus,
form textarea:focus {
    outline: none;
    border-color: #E1C184;
}

.contact-form-info label {
    box-sizing: border-box;
}